@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui"{
    themes: "myTheme";
}
@plugin "daisyui/theme" {
    name: "myTheme";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(98% 0.001 106.423);
    --color-base-200: oklch(97% 0.001 106.424);
    --color-base-300: oklch(92% 0.003 48.717);
    --color-base-content: oklch(21% 0.006 56.043);
    --color-primary: oklch(90% 0.182 98.111);
    --color-primary-content: oklch(29% 0.149 302.717);
    --color-secondary: oklch(81% 0.111 293.571);
    --color-secondary-content: oklch(28% 0.141 291.089);
    --color-accent: oklch(62% 0.214 259.815);
    --color-accent-content: oklch(28% 0.109 3.907);
    --color-neutral: oklch(21% 0.006 56.043);
    --color-neutral-content: oklch(98% 0.001 106.423);
    --color-info: oklch(71% 0.143 215.221);
    --color-info-content: oklch(98% 0.019 200.873);
    --color-success: oklch(72% 0.219 149.579);
    --color-success-content: oklch(98% 0.018 155.826);
    --color-warning: oklch(79% 0.184 86.047);
    --color-warning-content: oklch(98% 0.026 102.212);
    --color-error: oklch(65% 0.241 354.308);
    --color-error-content: oklch(97% 0.014 343.198);
    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 1;
}

@theme {
    --font-roboto: "Roboto", sans-serif;
}
