@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: "myTheme";
}
@plugin "daisyui/theme" {
  name: "myTheme";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(100% 0 0);
  --color-base-300: oklch(100% 0 0);
  --color-base-content: #000000;
  --color-primary: #fed501;
  --color-primary-content: #000064;
  --color-secondary: #000064;
  --color-secondary-content: #fed501;
  --color-accent: #99002c;
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: #000064;
  --color-neutral-content: #fed501;
  --color-info: #0000A3;
  --color-info-content: oklch(100% 0 0);
  --color-success: #429E5E;
  --color-success-content: oklch(100% 0 0);
  --color-warning: #FEB924;
  --color-warning-content: #000064;
  --color-error: #B80034;
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

@theme {
  --font-roboto: "Roboto", sans-serif;
  --spacing-in-sections: 16px;
  --spacing-between-sections: 28px;
}

body {
  font-family: var(--font-roboto), sans-serif;
}
